p, h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e8e8e8;
    height: 400px;

    
}

.mainContainer {
    
    max-width: 800px;
    margin: auto;
    height: 80%;                               /* !important */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    top: 30px;                                  /* !important */

    position: absolute;

    z-index: 2;
}

.photo {
    position: absolute;
    left: 300px;
    top: 50px;
    z-index: 0;
    width: 575px;
}

.photo img {
    width: 100%;
}